@page "/todo"
@inject IJSRuntime JS
@using System.Text.Json;
@using System.Text.Json.Serialization;

<h1>Welcome to ToDo Page</h1>
<small>Here we will consume the new API</small>

@*<h4>Counter: @count</h4>*@
@*<h4>@jsonData</h4>*@
@if (todoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todoList)
            {
                count++;
                <tr>
                    <td>@todo.name</td>
                    <td>@todo.message</td>
                    <td>@todo.created</td>
                </tr>
            }
          
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="AddToDo">Add To Do</button>
<button class="btn btn-primary" @onclick="InvokeJavaScript">Invoke JavaScript</button>

@code {
    private int count = 0;
    private string jsonData;
    private List<ToDoItem> todoList;

    private async void AddToDo()
    {
        // Now we want to use our Web API
        HttpClient httpClient = new HttpClient();
        jsonData = await httpClient.GetStringAsync("https://pcso-remar-backend.azurewebsites.net/todoitems");
        todoList = JsonSerializer.Deserialize<List<ToDoItem>>(jsonData);
        StateHasChanged();
    }

    private async void InvokeJavaScript()
    {
        await JS.InvokeVoidAsync("DeleteCache");
        await JS.InvokeVoidAsync("HelloAlert");
    }

    public class ToDoItem
    {
        public int id { get; set; }
        public string name { get; set; }
        public bool isComplete { get; set; }
        public string message { get; set; }
        public DateTime created { get; set; }
    }
}